* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    color: white;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}

body.homepage {
    background: url('../images/hero.jpg') no-repeat center center/cover;
}

body.services-page, body.products-page, body.about-us-page {
    background: url('../images/bg.jpg') no-repeat center center/cover;
    color: black;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}
 
/* Navbar */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(80, 125, 82);
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 2px 20px; 
    height: 90px;
}

.logo {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}
  
.logo img {
    max-width: 100px; 
    height: auto; 
    margin: 0; 
}
  
.brand-name {
    font-size: 1.5rem; 
    font-weight: bold; 
    color: white; 
    line-height: 1; 
    margin: 0; 
}

.logo img,
.brand-name {
    margin: 0;
    padding: 0;
}

.logo a {
    text-decoration: none; 
    color: inherit; 
}
  
.nav-links {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: center; 
    gap: 50px; 
}

.nav-links a {
  text-decoration: none;
  color: black; 
  padding: 10px 20px; 
  border-radius: 20px; 
  background-color: rgb(238, 236, 239); 
  transition: background-color 0.3s ease, color 0.3s ease; 
  font-weight: 500; 
  font-size: 0.74rem;
}

.nav-links a:hover {
  background-color: rgb(210, 208, 210);
  color: white; 
}

.nav-links a.active {
  background-color: rgb(210, 208, 210); 
  color: white; 
}
  
.nav-right {
    display: flex;
    gap: 20px;
    align-items: center;
    color: black;
}

.nav-links,
.nav-right {
    display: flex;
    align-items: center; 
}
  
.search-bar {
    display: flex;
    align-items: center; 
    gap: 10px; 
}

.search-bar input {
    padding: 5px 10px; 
    border: 1px solid rgb(238, 236, 239); 
    border-radius: 20px; 
    outline: none; 
    background-color: rgb(238, 236, 239); 
    flex: 1; 
    height: 30px;
    min-width: 150px; 
}

.search-bar button {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 5px;
    background-color: rgb(238, 236, 239); 
    border: 1px solid rgb(238, 236, 239); 
    border-radius: 20px; 
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 30px; 
    height: 30px; 
}
 
.search-bar button:hover {
    background-color: rgb(210, 208, 210); 
}

.search-icon {
    max-width: 20px; 
    max-height: 20px; 
    object-fit: contain; 
}
  
.cart-icon {
    width: 30px; 
    height: 30px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
  
.cart-icon:hover {
    background-color: rgb(61, 104, 76);
}

/* Home Page Section */
.hero {
    position: relative;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    margin-bottom: 50px;
}
  
.hero-content {
    position: relative;
    z-index: 2; 
    text-align: center;
}
  
  .hero-content h1 {
    font-size: 2.8rem;
    margin-bottom: 10px;
    font-weight: 500;
}

.hero-content h1 + hr {
    margin: 20px auto; 
    width: 90%; 
    border: 0;
    border-top: 2px solid white; 
    opacity: 0.8; 
}
  
.hero-content h3 {
    font-size: 1.4rem;
    font-weight: 500;
}
  

.best-sellers {
    display: grid; 
    grid-template-rows: auto auto;
    grid-template-columns: 1fr; 
    text-align: center;
    padding: 50px 20px;
    gap: 30px; 
    color: white; 
    margin-bottom: 300px;
}
  
.best-sellers h2 {
    font-size: 3rem;
    font-weight: 700; 
    margin: 0 auto; 
    text-align: center;
}

@keyframes slideInUp {
    from {
      opacity: 0; 
      transform: translateY(100px); 
    }
    to {
      opacity: 1; 
      transform: translateY(0); 
    }
}

.bestseller-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    justify-items: center; 
}

.product {
    opacity: 0; 
    transform: translateY(100px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}
  
.product.visible {
    animation: slideInUp 0.6s forwards; 
}
  
.product img {
    width: 360px;
    height: 400px;
    margin-bottom: 10px;
}
  
.product p {
    font-weight: 500;
    font-size: 1.5rem;

}

.product p + hr {
    margin: 10px auto; 
    width: 80%; 
    border: 0;
    border-top: 1px solid white; 
    opacity: 0.8; 
}

/* Contact Section */
.contact-section {
    background-color: rgb(61, 104, 76); 
    color: white;
    padding: 50px 20px; 
    text-align: center; 
}
  
.contact-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto; 
}

.contact-logo {
    text-align: center; 
}
  
  .contact-logo img {
    max-width: 150px; 
    margin-bottom: 0; 
}

.contact-logo h3 {
    font-size: 1.5rem; 
    margin-top: none;
    line-height: 1.5; 
}
  
.contact-logo p {
    font-size: 1rem; 
    margin-top: 5px;
    line-height: 1.2; 
    text-align: left;
}

.contact-title {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 15px; 
    margin-bottom: 20px; 
}

.contact-title h3 {
    font-size: 1.5rem; 
    margin: 0; 
}

.title-icons {
    display: flex; 
    gap: 20px; 
}

.title-icons img {
    max-width: 25px; 
    height: auto; 
}


.contact-social {
    text-align: left; 
}
  
.social-icons {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 40px; 
}
  
.social-item {
    display: flex; 
    align-items: center; 
    gap: 10px; 
}
  
.social-item img {
    max-width: 20px; 
    height: auto;
}
  
.contact-info p {
    font-size: 1rem; 
    margin: 0; 
    margin-bottom: 10px; 
    text-align: left;
}
 
section {
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* About Us Section */
.about-us {
    padding: 0; 
    margin: 0 auto;
    text-align: center;
}
  
.about-header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 5px;
    color: black;
}

.about-header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    margin-top: 5px;
    color: black;
}

.about-header h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 70px;
    color: black;
}

.about-header p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 10px;
    color: black;
    max-width: 1000px;
}

.about-image {
    text-align: center;
    margin: 10px 0;
}

.about-image img {
    max-width: 80%;
    height: auto;
    display: block;
}

.vision-values {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
}

.vision, .values {
    max-width: 45%;
}

.vision h2, .values h2 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: black;
}

.vision p, .values p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: black;
}

/* Services Section */
.services-intro {
    display: flex;
    flex-direction: column; 
    align-items: center;    
    padding: 100px 20px;    
    color: black;
    text-align: center; 
}
  
.services-intro h1 {
    font-size: 3rem; 
    margin-bottom: 15px; 
    margin-top: 50px;
}
  
.intro-text {
    max-width: 800px; 
    line-height: 1.8; 
}
  
.intro-text p {
    font-size: 1.3rem; 
    margin-bottom: 20px; 
}

.service.cracking {
    margin-top: -30px; 
}

.service {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1px;
    align-items: center;
    padding: 20px 3%;
    gap: 10px;
}

.service + .service {
    margin-top: -50px; 
}
  
.service:nth-child(even) {
    grid-template-columns: 1fr 1fr; 
}
  
.service-image img {
    width: 500px;
    height: 400px;
    margin-right: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.service-text {
    max-width: 600px; 
    margin: 0 auto; 
}

.service-text h2 {
    font-size: 2rem;
    margin-bottom: 15px;
}
  
.service-text p {
    text-align: left;
    line-height: 1.8;
    font-size: 1.2rem;
}

@keyframes slideInUp {
    from {
      opacity: 0; 
      transform: translateY(100px); 
    }
    to {
      opacity: 1; 
      transform: translateY(0); 
    }
}

.service-image img {
    opacity: 0; 
    transform: translateY(100px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.service-image.visible img {
    animation: slideInUp 0.6s ease-out forwards; 
}

/* Products Section */
.products-section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 150px 20px; 
}
  
.products-section h1 {
    font-size: 2.5rem; 
    color: #30552c; 
    margin-bottom: 30px; 
    text-align: center; 
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    width: 100%; 
    max-width: 1000px;
}
  
.product-card {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
  
.product-card img {
    width: 100%;
    height: auto;
    max-width: 500px;
    margin-bottom: 15px;
}

.product-card h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #30552c;
}

.product-info {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 15px;
}

.product-info .price {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}
  
.product-info .quantity {
    font-size: 1rem;
    color: #666;
}

.add-to-cart {
    background-color: #30552c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-to-cart:hover {
    background-color: #417d3f;
    transform: scale(1.05);
}

.product-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

/* Modal Section */
.modal {
    display: none; 
    position: absolute; 
    top: 100%; 
    right: 5px; 
    background-color: white; 
    border: 1px solid #ccc; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    z-index: 1000; 
    width: 300px; 
    padding: 15px; 
}

.modal-content {
    display: flex;
    flex-direction: column;
}
  
.modal h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #30552c; 
    text-align: center;
}

#cart-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

#cart-items li {
    display: flex;
    justify-content: space-between; 
    margin-bottom: 10px;
    font-size: 0.9rem;
    color: #333; 
}
 
#total-price {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
    color: #30552c; 
}
  
#checkout-button {
    background-color: #30552c;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 100%;
}
  
#checkout-button:hover {
    background-color: #417d3f;
    transform: scale(1.05);
}